In [33]:
import pandas as pd
import json
import os

In [41]:
df = pd.read_csv('../raw_data/cassava-leaf-disease-classification 2/train.csv')
df.head()

         image_id  label
0  1000015157.jpg      0
1  1000201771.jpg      3
2   100042118.jpg      1
3  1000723321.jpg      1
4  1000812911.jpg      3

In [35]:
import json
label_map = json.load(open('../raw_data/cassava-leaf-disease-classification/label_num_to_disease_map.json'))
label_map

{'0': 'Cassava Bacterial Blight (CBB)',
 '1': 'Cassava Brown Streak Disease (CBSD)',
 '2': 'Cassava Green Mottle (CGM)',
 '3': 'Cassava Mosaic Disease (CMD)',
 '4': 'Healthy'}

In [36]:
label_map = {'0': 'cassava_bacterial_blight',
 '1': 'cassava_brown_streak_disease',
 '2': 'cassava_green_mottle',
 '3': 'cassava_mosaic_disease',
 '4': 'healthy'}

In [37]:
df['label_text'] = df.label.astype(str).map(label_map)

In [38]:
# run once to reorganise images into folders of their class
# create new folders
for label in label_map.values():
    os.mkdir(f'../raw_data/cassava-leaf-disease-classification 2/train_images/{label}')

In [39]:
for idx, row in df.iterrows():

    old_path = f"../raw_data/cassava-leaf-disease-classification 2/train_images/{row['image_id']}"
    new_path = f"../raw_data/cassava-leaf-disease-classification 2/train_images/{row['label_text']}/{row['image_id']}"
    
    os.rename(old_path, new_path)

In [31]:
df[df['image_id'] == '10459387.jpg']

         image_id  label label_text
254  10459387.jpg      4    healthy

In [43]:
df[df['image_id'] == '20153440.jpg']

          image_id  label
5704  20153440.jpg      4

In [44]:
df[df['image_id'] == '4359365.jpg']

          image_id  label
18344  4359365.jpg      3

In [46]:
df.label.value_counts()

3    13158
4     2577
2     2386
1     2189
0     1087
Name: label, dtype: int64